@page "/calendario-de-consultas"

@using SistemaGestaoClinicaMedica.Apresentacao.Site.Extensions;

<HeaderComponent Title="Calendário de Consultas">
    <div class="row">
        @if (AgendarConsulta)
        {
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input @bind-value="_pacienteLocalStorage.Nome" type="text" aria-label="Nome do paciente" class="form-control" id="paciente-nome" disabled>
                    <input @bind-value="PacienteCodigo" type="text" class="form-control" placeholder="Informe o código do paciente" aria-label="Informe o código do paciente" aria-describedby="paciente-codigo">
                    <div class="input-group-append">
                        <button @onclick="BuscaPacienteAsync" class="btn btn-outline-secondary" type="button" id="paciente-codigo">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <select @onchange="SelecionaEspecialidadeAsync" placeholder="Selecione a especialidade" class="form-control" id="especialidade">
                    <option value="" disabled selected hidden>Selecione a especialidade</option>
                    @foreach (var especialidade in Especialidades)
                    {
                        <option value="@especialidade.Id">@especialidade.Nome</option>
                    }
                </select>
            </div>
            <div class="col-md-6">
                <select @onchange="SelecionaMedico" placeholder="Selecione o médico" class="form-control" id="medico">
                    <option value="" disabled selected hidden>Selecione o médico</option>
                    @foreach (var medico in Medicos)
                    {
                        <option value="@medico.Id">@medico.Nome</option>
                    }
                </select>
            </div>
        }

        <div class="col-md-12" id="agendar-consulta">
            <button @onclick="(e => { AgendarConsulta = !AgendarConsulta; })" class="btn @(AgendarConsulta ? "" : "btn-primary") float-right" disabled="@(Especialidades == null)">
                <span class="oi @(AgendarConsulta ? "oi-x" : "oi-plus")" aria-hidden="true"></span> @(AgendarConsulta ? "Cancelar" : "Agendar Consulta")
            </button>
        </div>
    </div>
</HeaderComponent>

<!-- Seção de Renderização do Calendário -->
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-center" id="calendar-loading">
            <div class="spinner-border" role="status"></div>
        </div>

        <div id='calendar'></div>
    </div>
</div>

<!-- Modal de Seleção de Horario da Consulta-->
<ModalComponent Id="modalHorarioConsulta"
                Title="@($"{DataDaConsulta.ToString("dd/MM/yyyy")} - Horários Disponíveis")"
                ActionButtonText="Confirmar"
                OnActionButton="AgendarConsultaAsync"
                ActionButtonClass="btn-success"
                ActionButtonDisabled="@(!HorariosDisponiveis.Any() || _medicoLocalStorage == null)">
    <Body>
        <table class="table table-borderless">
            @{
                var total = Math.Ceiling((double)HorariosDisponiveis.Count / 5);
                total = (total > 0 && total < 1) ? 1 : total;

                for (int i = 0; i < total; i++)
                {
                    <tr>
                        @{
                            var horarios = HorariosDisponiveis.Skip(i * 5).Take(5);

                            foreach (var horario in horarios)
                            {
                                <td>
                                    <input type="radio" class="btn" name="horarios-disponiveis" id="@horario" value="@horario.ToString("hh\\:mm")" @onchange="@(e => HorarioDaConsulta = TimeSpan.Parse(e.Value.ToString()))" />
                                    <label for="@horario">@horario.ToString("hh\\:mm")</label>
                                </td>
                            }
                        }
                    </tr>
                }
            }

            @if (!HorariosDisponiveis.Any())
            {
                @("Nenhum horário disponível!")
            }
        </table>

        @if (HorariosDisponiveis.Any() && _medicoLocalStorage == null)
        {
            <div class="alert alert-warning" role="alert">Nenhum médico foi selecionado!</div>
        }
    </Body>
</ModalComponent>

<!-- Modal de Detalhes e Desmarcação de Consulta-->
<ModalComponent Id="modalDesmarcarConsulta"
                Title="Detalhes da Consulta">
    <Body>
        <p><strong>Código:</strong> @ConsultaEvento.Codigo</p>
        <p><strong>Data/Hora:</strong> @ConsultaEvento.Data.ToDateAndTime()</p>
        <p><strong>Paciente:</strong> @ConsultaEvento.PacienteNome</p>
        <p><strong>Especialidade:</strong> @ConsultaEvento.EspecialidadeNome</p>
        <p><strong>Médico:</strong> @ConsultaEvento.MedicoNome</p>
    </Body>
    <Footer>
        <button type="button" class="btn" data-dismiss="modal">Fechar</button>
        <label for="confirmDialogComponent" class="btn btn-danger" onclick="$('#modalDesmarcarConsulta').modal('hide');">Desmarcar Consulta</label>
    </Footer>
</ModalComponent>

<ConfirmDialogComponent Id="confirmModalDesmarcarConsulta"
                        MainButtonId="confirmDialogComponent"
                        MainButtonVisibled=false
                        Message="@($"A consulta de código {ConsultaEvento?.Codigo} do paciente {ConsultaEvento?.PacienteNome} será desmarcada, deseja processeguir?")"
                        ActionButtonText="Sim"
                        OnActionButton="@DesmarcarConsultaAsync" />