@page "/consultas/{id:guid}"
@attribute [Authorize(Roles = "Administrador, Medico")]

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Extensions;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IConsultasServico, ConsultaDTO, Guid>

<HeaderComponent Title="@($"Consulta de Código {_dto.Codigo}")" BackRoute="@AposSalvarRetonarPara">
    <AnotherButton>
        @if(_podeConcluirConsulta)
        {
            <label for="concluir-consulta" class="btn btn-success float-right">Finalizar a Consulta</label>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                Você não pode finalizar a consulta pois o seu status é : <strong>@_dto.StatusConsulta?.Nome</strong>!
            </div>
        }
    </AnotherButton> 
</HeaderComponent>

<!-- TABS -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="detalhes-consulta-tab" data-toggle="tab" href="#detalhes-consulta" role="tab" aria-controls="detalhes-consulta" aria-selected="false">Detalhes da Consulta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="atestados-tab" data-toggle="tab" href="#atestados" role="tab" aria-controls="atestados" aria-selected="false">Atestados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="exames-tab" data-toggle="tab" href="#exames" role="tab" aria-controls="exames" aria-selected="false">Exames</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="receita-tab" data-toggle="tab" href="#receita" role="tab" aria-controls="receita" aria-selected="false">Receita</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="detalhes-consulta" role="tabpanel" aria-labelledby="detalhes-consulta-tab">
        <FormComponent Item="_dto" 
                       OnValidSubmit="Salvar" 
                       SubmitButtonId="concluir-consulta"
                       SubmitButtonStyle="display:none;"
                       SubmitButtonVisibled="_podeConcluirConsulta"
                       CardMoreClass="remove-card-border-top">
            <div class="form-group col-md-12">
                <label for="paciente">Paciente</label>
                <input type="text" value="@context.Paciente?.Nome" class="form-control" id="paciente" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="especialidade">Especialidade</label>
                <input type="text" value="@context.Especialidade?.Nome" class="form-control" id="especialidade" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="medico">Médico</label>
                <input type="text" value="@context.Medico?.Nome" class="form-control" id="medico" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="data">Data/Hora</label>
                <input type="text" value="@context.Data.ToDateAndTime()" class="form-control" id="data" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input type="text" value="@context.StatusConsulta?.Nome" class="form-control" id="data" disabled />
            </div>
            <div class="form-group col-md-12">
                <label for="observacoes">Observações <span style="color:red;">*</span></label>
                <InputTextArea @bind-Value="context.Observacao" class="form-control" id="observacoes" disabled="@(!_podeConcluirConsulta)"/>
            </div>
        </FormComponent>
    </div>
    <div class="tab-pane fade" id="atestados" role="tabpanel" aria-labelledby="atestados-tab">
        <Atestados Consulta="@_dto" />
    </div>
    <div class="tab-pane fade" id="exames" role="tabpanel" aria-labelledby="exames-tab">
        <Exames Consulta="@_dto" />
    </div>
    <div class="tab-pane fade" id="receita" role="tabpanel" aria-labelledby="receita-tab">
        <ReceitasForm Consulta="@_dto" />
    </div>
</div>

@code {
    protected override string AposSalvarRetonarPara => "consultas";
}