@page "/consultas/{id:guid}"

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Extensions;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IConsultaServico, ConsultaDTO, Guid>

<HeaderComponent Title="Realizando Consulta" BackRoute="consultas">
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-warning float-right">Receita</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-warning float-right">Exame</button>
        </div>
        <div class="col-md-4">
            <ModalComponent Id="modalAtestado"
                            ButtonVisibled="true"
                            ButtonText="Criar Atestado"
                            ButtonClass="btn-primary"
                            ActionButtonText="Gerar"
                            ActionButtonClass="btn-success"
                            OnActionButton="SalvarAtestado">
                <Body>
                    <EditForm Model="Atestado">
                        <div class="form-group col-md-12">
                            <label for="tipo-atestado">Tipo de Atestado</label>
                            <select class="form-control" @onchange="SelecionaTipoDeAtestado" id="tipo-atestado">
                                @foreach (var tipo in TiposDeAtestados)
                                {
                                    <option value="@tipo.Id">@tipo.Nome</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="observacoes">Observações</label>
                            <InputTextArea @bind-Value="@Atestado.Observacao" class="form-control" id="observacoes" />
                        </div>
                    </EditForm>
                </Body>
            </ModalComponent>
        </div>
    </div>
</HeaderComponent>

<FormComponent Item="_dto" OnValidSubmit="Salvar">
    <div class="form-group col-md-12">
        <label for="paciente">Paciente</label>
        <input type="text" value="@context.Paciente?.Nome" class="form-control" id="paciente" disabled />
    </div>
    <div class="form-group col-md-6">
        <label for="especialidade">Especialidade</label>
        <input type="text" value="@context.Especialidade?.Nome" class="form-control" id="especialidade" disabled />
    </div>
    <div class="form-group col-md-6">
        <label for="medico">Médico</label>
        <input type="text" value="@context.Medico?.Nome" class="form-control" id="medico" disabled />
    </div>
    <div class="form-group col-md-6">
        <label for="data">Data/Hora</label>
        <input type="text" value="@context.Data.ToDateAndTime()" class="form-control" id="data" disabled />
    </div>
    <div class="form-group col-md-6">
        <label for="status">Status</label>
        <InputSelect @bind-Value="context.StatusConsultaId" class="form-control" id="status">
            @foreach (var status in StatusConsulta)
            {
                <option value="@status.Id">@status.Nome</option>
            }
        </InputSelect>
    </div>
    <div class="form-group col-md-12">
        <label for="observacoes">Observações</label>
        <InputTextArea @bind-Value="context.Observacao" class="form-control" id="observacoes" />
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => "consultas";
}