@page "/consultas/{id:guid}"

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Extensions;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Modelo;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IConsultasServico, ConsultaDTO, Guid>

<HeaderComponent Title="Realizando Consulta" BackRoute="@AposSalvarRetonarPara" />

<!-- TABS -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="detalhes-consulta-tab" data-toggle="tab" href="#detalhes-consulta" role="tab" aria-controls="detalhes-consulta" aria-selected="false">Detalhes da Consulta</a>
    </li>
    <li class="nav-item disabled" disabled="@(_dto.StatusConsultaId != StatusConsultaConst.Concluida || _dto.StatusConsultaId != StatusConsultaConst.AguardandoRetorno)">
        <a class="nav-link" id="atestados-tab" data-toggle="tab" href="#atestados" role="tab" aria-controls="atestados" aria-selected="false">Atestados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="exames-tab" data-toggle="tab" href="#exames" role="tab" aria-controls="exames" aria-selected="false">Exames</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="receita-tab" data-toggle="tab" href="#receita" role="tab" aria-controls="receita" aria-selected="false">Receita</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="detalhes-consulta" role="tabpanel" aria-labelledby="detalhes-consulta-tab">
        <FormComponent Item="_dto" OnValidSubmit="Salvar" SubmitButtonText="Concluir Consulta">
            <div class="form-group col-md-12">
                <label for="paciente">Paciente</label>
                <input type="text" value="@context.Paciente?.Nome" class="form-control" id="paciente" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="especialidade">Especialidade</label>
                <input type="text" value="@context.Especialidade?.Nome" class="form-control" id="especialidade" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="medico">Médico</label>
                <input type="text" value="@context.Medico?.Nome" class="form-control" id="medico" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="data">Data/Hora</label>
                <input type="text" value="@context.Data.ToDateAndTime()" class="form-control" id="data" disabled />
            </div>
            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input type="text" value="@context.StatusConsulta?.Nome" class="form-control" id="data" disabled />
            </div>
            <div class="form-group col-md-12">
                <label for="observacoes">Observações</label>
                <InputTextArea @bind-Value="context.Observacao" class="form-control" id="observacoes" />
            </div>
        </FormComponent>
    </div>
    <div class="tab-pane fade" id="atestados" role="tabpanel" aria-labelledby="atestados-tab">
        <Atestados ConsultaId="@_dto.Id" />
    </div>
    <div class="tab-pane fade" id="exames" role="tabpanel" aria-labelledby="exames-tab">
        <Exames ConsultaId="@_dto.Id" />
    </div>
    <div class="tab-pane fade" id="receita" role="tabpanel" aria-labelledby="receita-tab">
        <ReceitasForm Consulta="@_dto" Id="@_dto.Receita.Id" />
    </div>
</div>

@code {
    protected override string AposSalvarRetonarPara => "consultas";
}