@page "/consultas/{consultaId:guid}/exames/novo"
@page "/consultas/{consultaId:guid}/exames/{id:guid}"
@attribute [Authorize(Roles = "Administrador, Medico")]

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IExamesServico, ExameDTO, Guid>

<HeaderComponent Title="Cadastro de Exame" BackRoute="@AposSalvarRetonarPara" />

<FormComponent Item="_dto" 
               OnValidSubmit="Salvar" 
               SubmitButtonText="Salvar e Imprimir Exame"
               SubmitIcon="oi-print">
    <div class="form-group col-md-12">
        <label for="tipo-exame">Tipo de Exame <span style="color:red;">*</span></label>
        <select @onchange="SelecionaTipoDeExameAsync" class="form-control" id="tipo-exame" required>
            <option value=""></option>
            @foreach (var tipo in _tiposDeExames)
            {
                <option value="@tipo.Id.ToString()" selected="@(_tipoDeExameId == context.TipoDeExame.Id.ToString())">@tipo.Nome</option>
            }
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="exame-observacao">Observação <span style="color:red;">*</span></label>
        <InputTextArea @bind-Value="@_dto.Observacao" class="form-control" id="exame-observacao" />
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => $"consultas/{ConsultaId}#exames";
}