@page "/realiza-exames"
@attribute [Authorize(Roles = "Administrador, Laboratorio")]

@using SistemaGestaoClinicaMedica.Aplicacao.DTO;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Constantes;
@using SistemaGestaoClinicaMedica.Apresentacao.Site.Servicos;
@inherits FormBase<IExamesServico, ExameDTO, Guid>

<HeaderComponent Title="Realiza Exames"
                 SearchPlaceholder="Informe o código do exame"
                 SearchVisibled="true"
                 SearchWithButton="true"
                 SearchMinLenght="8"
                 OnSearch="@BuscarAsync" />

<FormComponent Item="_dto"
               OnValidSubmit="Salvar"
               SubmitButtonVisibled="false"
               RequiredLabelVisible="false"
               Loading="_carregando">
    <div class="form-group col-md-12">
        @if (_dto.StatusExame.Id == StatusExameConst.Concluido || (_dto.StatusExame.Id == StatusExameConst.EmAnaliseLaboratorial && string.IsNullOrEmpty(_dto.LinkResultadoExame)))
        {
            <div class="alert alert-info" role="alert" style="width:100%">
                Este exame está <strong>@context.StatusExame.Nome</strong>, por <strong>@_dto.LaboratorioRealizouExame?.Nome</strong>!
            </div>
        }

        @if (_dto.StatusExame.Id == StatusExameConst.Pendente && _dto.Id != Guid.Empty)
        {
            <button type="submit" id="analise-laboratorial" class="btn btn-lg btn-block btn-warning">Informar que a análise laboratorial foi iniciada</button>
        }

        @if (_dto.StatusExame.Id == StatusExameConst.EmAnaliseLaboratorial && _dto.Id != Guid.Empty && string.IsNullOrEmpty(_dto.LinkResultadoExame))
        {
            <label for="resultado-exame" class="btn btn-lg btn-block btn-dark">
                @if (_enviandoResultado)
                {
                    <span class="spinner-border" role="status"></span>
                }
                else
                {
                    @("Anexar e enviar o resultado do exame")
                }
            </label>
            <InputFile OnChange="EnviarResultadoAsync" class="form-control-file" id="resultado-exame" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx" style="display: none;" />
        }

        @if (_dto.StatusExame.Id == StatusExameConst.EmAnaliseLaboratorial && !string.IsNullOrEmpty(_dto.LinkResultadoExame))
        {
            <button type="submit" id="concluir-exame" class="btn btn-lg btn-block btn-success">Prosseguir com a conclusão do exame</button>
        }
    </div>

    <div class="form-group col-md-12">
        <label for="tipo-exame">Tipo de Exame</label>
        <input type="text" value="@context.TipoDeExame.Nome" class="form-control" id="tipo-exame" disabled />
    </div>
    <div class="form-group col-md-12">
        <label for="observacao">Observação</label>
        <textarea value="@context.Observacao" class="form-control" id="observacao" disabled />
    </div>
</FormComponent>

@code {
    protected override string AposSalvarRetonarPara => $"realiza-exames";
}